MemoramaLis_Cliente/Connected Services/AutentificacionServicio/AutentificacionServicio1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="JugadoresDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Contrasenia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstadoConexion" type="xs:boolean" />
      <xs:element minOccurs="0" name="Fotos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdJugador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreJugador" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JugadoresDTO" nillable="true" type="tns:JugadoresDTO" />
</xs:schema>