MemoramaLis_Cliente/Connected Services/ServicioPartida/ServicioPartida1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/ServicioPartida?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dominio" />
  <xs:import schemaLocation="http://localhost:8080/ServicioPartida?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="UnirseAPartida">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio" minOccurs="0" name="jugador" nillable="true" type="q1:JugadoresDTO" />
        <xs:element minOccurs="0" name="codigoDePartida" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarMovimiento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="movimiento" type="xs:int" />
        <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoDePartida" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="resultado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalirDePartida">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreDeUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoDePartida" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearPartida">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoDePartida" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BorrarPartida">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoDePartida" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContarJugadores">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoDePartida" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IniciarJuego">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoDePartida" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarInformacionDeJugador">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dominio" minOccurs="0" name="jugador" nillable="true" type="q2:JugadoresDTO" />
        <xs:element minOccurs="0" name="codigoDePartida" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportarJugador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreDeUSuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoDePartida" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TerminarPartida">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoDePartida" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PasarTurno">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="turno" type="xs:int" />
        <xs:element minOccurs="0" name="codigoDePartida" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecibirTablero">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="tablero" nillable="true" type="q3:ArrayOfKeyValueOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecibirMovimiento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreJugador" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="movimiento" type="xs:int" />
        <xs:element minOccurs="0" name="resultado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExpulsarJugador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreJugador" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerListaDeJugadores">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dominio" minOccurs="0" name="jugadores" nillable="true" type="q4:ArrayOfJugadoresDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerJugadorReportado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="estado" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RespuestaDeUnirseAPartida">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoDeRespuesta" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MostrarTerminarPartida">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ganadores" nillable="true" type="q5:ArrayOfstring" />
        <xs:element minOccurs="0" name="puntos" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecibirEstadoDePartida">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoDeRespuesta" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecibirTurno">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="turno" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>